.widget {
    width: 100%;
    margin-bottom: 30px
}

.widget__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: auto
}

.widget__title {
    text-align: center;
    color: #d26c22;
    margin-bottom: 15px
}

.widget__temperature {
    width: 25%;
    margin-right: 30px
}

.widget__graphic {
    width: 70%
}

@media (max-width: 1000px) {
    .widget__layout {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .widget__temperature {
        width: 100%;
        margin-bottom: 30px
    }

    .widget__graphic {
        width: 100%
    }
}

.search-cities {
    margin-top: 20px;
    margin-bottom: 40px
}

.search-cities__block {
    margin-right: 5px
}

.search-cities__lnk {
    text-decoration: underline;
    background-color: #fff
}

.preloader-graphic {
    width: 100%
}

.preloader-graphic, .preloader-widget {
    height: 422px;
    background: #fff url(/themes/openweathermap/assets/img/img-loading.gif) 50% 50% no-repeat;
    background-size: 50px 50px
}

.preloader-widget {
    min-width: 255px
}

.wrong-data {
    padding: 20px 30px;
    padding-top: 50px
}

.wrong-data, .wrong-data__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.wrong-data__items {
    margin-top: 15px;
    padding-left: 0;
    list-style-type: none
}

.wrong-data__item, .wrong-data__items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.wrong-data__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-top: 5px
}

.wrong-data__btn {
    -ms-flex-item-align: center;
    align-self: center;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d26c22;
    border-color: #c1631f;
    color: #fff
}

.wrong-data__btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none
}

.wrong-data__link, .wrong-data__link:active, .wrong-data__link:hover, .wrong-data__link:visited {
    color: #d26c22
}

.wrong-data__input {
    padding: 5px 10px;
    margin: 5px;
    box-sizing: border-box
}

.wrong-data__result {
    text-decoration: none
}

.wrong-data__result--successful {
    color: #42ba3c
}

.wrong-data__result--error {
    color: #b22f26
}

.widget-tabs {
    list-style: none;
    font-size: 0;
    margin-bottom: 25px;
    padding-left: 0
}

.widget-tabs__item {
    display: inline-block;
    vertical-align: top
}

.widget-tabs__link {
    padding: 10px 15px;
    font: 400 14px/1.4 Roboto, Arial, sans-serif;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    background: #fff;
    color: #999 !important;
    transition: color .2s;
    cursor: pointer
}

.widget-tabs__link:hover {
    color: #333 !important;
    border-color: #d26c22;
    text-decoration: none
}

.widget-tabs__link:active, .widget-tabs__link:focus {
    text-decoration: none
}

.widget-tabs__checked:checked + .widget-tabs__link, .widget-tabs__link--active {
    padding: 10px 15px;
    font: 400 14px/1.4 Roboto, Arial, sans-serif;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    background: #fff;
    transition: color .2s;
    cursor: pointer;
    color: #333;
    border-color: #d26c22;
    text-decoration: none
}

.widget-tabs__link--active:active, .widget-tabs__link--active:focus, .widget-tabs__link--active:hover {
    text-decoration: none
}

.weather-map-layers {
    width: 600px;
    height: 450px
}

.weather-map-layers__header {
    padding: 10px 0;
    margin-top: 0;
    clear: both;
    font: 500 24px/1.1 Oswald, Arial, sans-serif !important
}

.weather-map-layers .leaflet-control-zoom-in, .weather-map-layers .leaflet-control-zoom-in:active, .weather-map-layers .leaflet-control-zoom-in:focus, .weather-map-layers .leaflet-control-zoom-in:hover, .weather-map-layers .leaflet-control-zoom-in:visited, .weather-map-layers .leaflet-control-zoom-out, .weather-map-layers .leaflet-control-zoom-out:active, .weather-map-layers .leaflet-control-zoom-out:focus, .weather-map-layers .leaflet-control-zoom-out:hover, .weather-map-layers .leaflet-control-zoom-out:visited {
    text-decoration: none
}

.weather-forecast-chartval-graphic {
    width: 650px;
    height: 500px
}

.weather-forecast-chartval-graphic__header {
    padding: 10px 0;
    margin-top: 0;
    clear: both;
    font: 500 24px/1.1 Oswald, Arial, sans-serif !important
}

.weather-forecast-chartval-graphic .weather-forecast-chartval-graphic__link-active {
    background-color: #f0f0f0;
    color: #515151
}

.weather-forecast-hourly-graphic {
    width: 650px;
    height: 280px
}

.weather-forecast-hourly-graphic__header {
    padding: 10px 0;
    margin-top: 0;
    clear: both;
    font: 500 24px/1.1 Oswald, Arial, sans-serif !important
}

.weather-forecast-graphic {
    width: 650px;
    height: 450px
}

.weather-forecast-graphic__header {
    padding: 10px 0;
    margin-top: 0;
    clear: both;
    font: 500 24px/1.1 Oswald, Arial, sans-serif !important
}

.weather-forecast-icons {
    color: #333;
    padding-left: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.weather-forecast-icons__item {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    text-align: center;
    font-size: x-small
}

.weather-forecast-icons__item:last-child {
    padding-right: 0
}

.weather-forecast-icons__item--active {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    text-align: center;
    background-color: #eee;
    font-size: x-small
}

.weather-forecast-hourly-list__header {
    padding: 10px 0;
    margin-top: 0;
    clear: both;
    font: 500 24px/1.1 Oswald, Arial, sans-serif !important
}

.weather-forecast-hourly-list__link {
    color: #d26c22;
    cursor: pointer
}

.weather-forecast-hourly-list__main:first-letter {
    text-transform: uppercase
}

.weather-forecast-hourly-list__table {
    width: 650px;
    border-collapse: collapse;
    font: 400 14px/1.3 Roboto, Arial, sans-serif
}

.weather-forecast-hourly-list__sub-table {
    width: 650px;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border: 0;
    font: 400 14px/1.3 Roboto, Arial, sans-serif
}

.weather-forecast-hourly-list__items {
    border: none;
    background-color: #fff
}

.weather-forecast-hourly-list__sub-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    border-top: 1px solid #ddd;
    background-color: #fff !important;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle
}

.weather-forecast-hourly-list__sub-item:first-of-type {
    width: 40%
}

.weather-forecast-hourly-list__sub-item > .weather-forecast-hourly-list__day, .weather-forecast-hourly-list__sub-item > .weather-forecast-hourly-list__night {
    display: inline-block;
    vertical-align: top;
    min-width: 51px;
    padding: 3px 5px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.weather-forecast-hourly-list__row-date {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.weather-forecast-hourly-list__item-date {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font: 600 14px/1.3 Roboto, Arial, sans-serif
}

.weather-forecast-hourly-list__item:nth-child(odd) {
    background-color: #f9f9f9
}

.weather-forecast-hourly-list__day {
    background-color: #f0ad4e
}

.weather-forecast-hourly-list__night {
    background-color: #999;
    border-radius: 10px !important
}

.weather-forecast-hourly-list__naturalPhenomenon {
    font-style: italic
}

@media only screen {
    .toggle {
        position: relative;
        padding: 0;
        margin-left: 100px
    }

    .toggle label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%
    }

    .toggle input {
        position: absolute;
        opacity: 0;
        z-index: 5
    }

    .toggle p {
        position: absolute;
        left: -100px;
        width: 100%;
        margin: 0;
        padding-right: 100px;
        text-align: left
    }

    .toggle p span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 100px;
        text-align: center
    }

    .toggle p span:last-child {
        left: 50%
    }

    .toggle .slide-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0
    }

    .switch {
        position: relative;
        padding: 0
    }

    .switch input {
        position: absolute;
        opacity: 0
    }

    .switch label {
        position: relative;
        z-index: 2;
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        text-align: center
    }

    .switch .slide-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        width: 50%;
        height: 100%
    }

    .switch input:last-of-type:checked ~ .slide-button {
        left: 50%
    }

    .switch.switch-three .slide-button, .switch.switch-three label {
        width: 33.3%
    }

    .switch.switch-three input:checked:nth-of-type(2) ~ .slide-button {
        left: 33.3%
    }

    .switch.switch-three input:checked:last-of-type ~ .slide-button {
        left: 66.6%
    }

    .switch.switch-four .slide-button, .switch.switch-four label {
        width: 25%
    }

    .switch.switch-four input:checked:nth-of-type(2) ~ .slide-button {
        left: 25%
    }

    .switch.switch-four input:checked:nth-of-type(3) ~ .slide-button {
        left: 50%
    }

    .switch.switch-four input:checked:last-of-type ~ .slide-button {
        left: 75%
    }

    .switch.switch-five .slide-button, .switch.switch-five label {
        width: 20%
    }

    .switch.switch-five input:checked:nth-of-type(2) ~ .slide-button {
        left: 20%
    }

    .switch.switch-five input:checked:nth-of-type(3) ~ .slide-button {
        left: 40%
    }

    .switch.switch-five input:checked:nth-of-type(4) ~ .slide-button {
        left: 60%
    }

    .switch.switch-five input:checked:last-of-type ~ .slide-button {
        left: 80%
    }

    .switch, .toggle {
        display: block;
        height: 30px
    }

    .switch *, .toggle * {
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }

    .switch .slide-button, .toggle .slide-button {
        display: block;
        transition: all .3s ease-out
    }

    .switch label, .toggle label, .toggle p {
        line-height: 30px;
        vertical-align: middle
    }

    .toggle input:checked ~ .slide-button {
        right: 50%
    }

    .switch input:focus + label, .toggle input:focus ~ .slide-button {
        outline: 1px dotted #888
    }

    .switch, .toggle {
        -webkit-animation: a infinite 1s
    }

    .candy {
        background-color: #2d3035;
        color: #fff;
        font-weight: 700;
        text-align: center;
        text-shadow: 1px 1px 1px #191b1e;
        border-radius: 3px;
        box-shadow: inset 0 2px 6px rgba(0, 0, 0, .3), 0 1px 0 hsla(0, 0%, 100%, .2)
    }

    .candy input:checked + label {
        color: #333;
        text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5)
    }

    .candy .slide-button {
        border: 1px solid #333;
        background-color: #70c66b;
        background-image: linear-gradient(top, hsla(0, 0%, 100%, .2), transparent);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2), inset 0 1px 1px hsla(0, 0%, 100%, .45);
        border-radius: 3px
    }

    .candy p {
        color: #333;
        text-shadow: none
    }

    .candy span {
        color: #fff
    }

    .candy.blue .slide-button {
        background-color: #38a3d4
    }

    .candy.yellow .slide-button {
        background-color: #f5e560
    }

    .android {
        background-color: #b6b6b6;
        color: #fff
    }

    .android.toggle {
        border: 2px solid #b6b6b6
    }

    .android.switch {
        overflow: hidden
    }

    .android.switch .slide-button {
        background-color: #279fca;
        -webkit-transform: skew(20deg) translateX(10px);
        transform: skew(20deg)
    }

    .android.toggle .slide-button {
        border-radius: 2px;
        background-color: #848484
    }

    .android.toggle input:first-of-type:checked ~ .slide-button {
        background-color: #279fca
    }

    .android.switch input:first-of-type:checked ~ .slide-button {
        -webkit-transform: skew(20deg) translateX(-10px);
        transform: skew(20deg) translateX(-10px)
    }

    .android p {
        color: #333
    }

    .android span {
        color: #fff
    }

    .android.switch, .android span {
        text-transform: uppercase
    }

    .ios {
        background: linear-gradient(top, #cfcfcf, #efefef 50%, #f9f9f9 0, #fefefe);
        box-shadow: inset 0 2px 2px #b6b6b6, inset 3px 0 3px #b6b6b6;
        border: 1px solid #efefef;
        border-radius: 3px;
        color: #7f7f7f;
        font: 700 14px sans-serif;
        text-align: center;
        text-shadow: none
    }

    .ios.toggle .slide-button {
        border: 1px solid #919191;
        background: linear-gradient(top, #cdcdcd, #fbfbfb);
        border-radius: 3px;
        box-shadow: inset 0 1px 0 #f0f0f0
    }

    .ios.switch input:checked + label, .ios.toggle input:first-of-type:checked ~ p span:first-child {
        color: #fff;
        text-shadow: 0 -1px 0 #1b3b6f
    }

    .ios.switch .slide-button, .ios.toggle input:first-of-type:checked ~ .slide-button {
        background: linear-gradient(top, #3672dc, #4085ec 50%, #4d8fef 0, #76adfc);
        border-radius: 3px;
        border: 1px solid #1654b5;
        text-align: center;
        color: #fff;
        font: 700 14px sans-serif;
        text-shadow: 0 -1px 0 #1b3b6f
    }

    .ios.toggle p span {
        color: #7f7f7f
    }
}

.weather-forecast-list {
    text-decoration: none;
    font: 400 14px/1.3 Roboto, Arial, sans-serif
}

.weather-forecast-list__header {
    padding: 10px 0;
    margin-top: 0;
    clear: both;
    font-family: Oswald, Arial, sans-serif !important
}

.weather-forecast-list__link {
    color: #d26c22;
    cursor: pointer
}

.weather-forecast-list__main:first-letter {
    text-transform: uppercase
}

.weather-forecast-list__table {
    width: 650px;
    border-collapse: collapse;
    font: 400 14px/1.4 Roboto, Arial, sans-serif
}

.weather-forecast-list__items {
    border: 1px solid #ddd;
    background-color: #fff
}

.weather-forecast-list__items-today {
    border: 1px solid #ddd;
    background-color: #eee
}

.weather-forecast-list__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    border-top: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle
}

.weather-forecast-list__item:first-of-type {
    width: 40%
}

.weather-forecast-list__card > .weather-forecast-list__day, .weather-forecast-list__card > .weather-forecast-list__night {
    display: inline-block;
    vertical-align: top;
    min-width: 51px;
    padding: 3px 5px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.weather-forecast-list__day {
    background-color: #f0ad4e;
    margin-right: 5px
}

.weather-forecast-list__night {
    background-color: #999
}

.weather-forecast-list__naturalPhenomenon {
    font-style: italic
}

.weather-forecast-list__today-label {
    position: relative;
    margin-top: -10px;
    color: #999
}

.weather-forecast-list__card {
    margin-bottom: 0
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden], template {
    display: none
}

.olPopupCloseBox {
    background: url(//openweathermap.org/img/glyphicons-halflings.png) no-repeat scroll 0 0 transparent !important;
    background-position: -48px -96px !important
}

.olPopup {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border-radius: 8px;
    padding: 4px
}

p.weather_title {
    font-size: medium;
    font-weight: 700;
    color: #000
}

weather_title_link {
    text-decoration: underline;
    color: red !important
}

div.weather_block {
    float: left
}

div.small_temp_block {
    display: block;
    width: 30px;
    overflow: visible
}

div.big_temp {
    display: block;
    font-size: 30px;
    padding-top: 6px
}

div.small_temp, div.small_temp_grey {
    float: left;
    text-align: center;
    font-size: small
}

div.small_val, div.small_val_grey {
    display: block;
    clear: left;
    font-size: x-small
}

div.small_val2, div.small_val2_grey {
    display: block;
    clear: left
}

div.small_temp_grey, div.small_val2_grey, div.small_val_grey {
    color: gray
}

img.weather_image {
    float: left;
    border: medium none;
    width: 50px;
    height: 45px;
    background: repeat scroll 0 0 transparent
}

img.station_image {
    float: left;
    border: medium none;
    width: 25px;
    height: 25px;
    background: scroll 0 0 transparent;
    padding: 4px 12px 8px
}

div.cur_weather_block, div.temp_block {
    float: left
}

.vote-plus {
    background: url(/img/icons_vote_posts.gif) no-repeat;
    background-position: 0 0
}

.vote-minus, .vote-plus {
    width: 11px;
    height: 15px;
    float: right
}

.vote-minus {
    background: url(/img/icons_vote_posts.gif) no-repeat;
    background-position: -12px 0
}

.switch .slide-button, .toggle p span {
    display: none
}

@media only screen {
    .toggle {
        position: relative;
        padding: 0;
        margin-left: 100px
    }

    .toggle label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%
    }

    .toggle input {
        position: absolute;
        opacity: 0;
        z-index: 5
    }

    .toggle p {
        position: absolute;
        left: -100px;
        width: 100%;
        margin: 0;
        padding-right: 100px;
        text-align: left
    }

    .toggle p span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 100px;
        text-align: center
    }

    .toggle p span:last-child {
        left: 50%
    }

    .toggle .slide-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0
    }

    .switch {
        position: relative;
        padding: 0
    }

    .switch input {
        position: absolute;
        opacity: 0
    }

    .switch label {
        position: relative;
        z-index: 2;
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        text-align: center
    }

    .switch .slide-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        width: 50%;
        height: 100%
    }

    .switch input:last-of-type:checked ~ .slide-button {
        left: 50%
    }

    .switch.switch-three .slide-button, .switch.switch-three label {
        width: 33.3%
    }

    .switch.switch-three input:checked:nth-of-type(2) ~ .slide-button {
        left: 33.3%
    }

    .switch.switch-three input:checked:last-of-type ~ .slide-button {
        left: 66.6%
    }

    .switch.switch-four .slide-button, .switch.switch-four label {
        width: 25%
    }

    .switch.switch-four input:checked:nth-of-type(2) ~ .slide-button {
        left: 25%
    }

    .switch.switch-four input:checked:nth-of-type(3) ~ .slide-button {
        left: 50%
    }

    .switch.switch-four input:checked:last-of-type ~ .slide-button {
        left: 75%
    }

    .switch.switch-five .slide-button, .switch.switch-five label {
        width: 20%
    }

    .switch.switch-five input:checked:nth-of-type(2) ~ .slide-button {
        left: 20%
    }

    .switch.switch-five input:checked:nth-of-type(3) ~ .slide-button {
        left: 40%
    }

    .switch.switch-five input:checked:nth-of-type(4) ~ .slide-button {
        left: 60%
    }

    .switch.switch-five input:checked:last-of-type ~ .slide-button {
        left: 80%
    }

    .switch, .toggle {
        display: block;
        height: 30px
    }

    .switch *, .toggle * {
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box
    }

    .switch .slide-button, .toggle .slide-button {
        display: block;
        transition: all .3s ease-out
    }

    .switch label, .toggle label, .toggle p {
        line-height: 30px;
        vertical-align: middle
    }

    .toggle input:checked ~ .slide-button {
        right: 50%
    }

    .switch input:focus + label, .toggle input:focus ~ .slide-button {
        outline: 1px dotted #888
    }

    .switch, .toggle {
        -webkit-animation: a infinite 1s
    }

    @-webkit-keyframes a {
        0% {
            position: relative
        }
        to {
            position: relative
        }
    }.candy {
         background-color: #2d3035;
         color: #fff;
         font-weight: 700;
         text-align: center;
         text-shadow: 1px 1px 1px #191b1e;
         border-radius: 3px;
         box-shadow: inset 0 2px 6px rgba(0, 0, 0, .3), 0 1px 0 hsla(0, 0%, 100%, .2)
     }

    .candy input:checked + label {
        color: #333;
        text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5)
    }

    .candy .slide-button {
        border: 1px solid #333;
        background-color: #70c66b;
        background-image: linear-gradient(top, hsla(0, 0%, 100%, .2), transparent);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2), inset 0 1px 1px hsla(0, 0%, 100%, .45);
        border-radius: 3px
    }

    .candy p {
        color: #333;
        text-shadow: none
    }

    .candy span {
        color: #fff
    }

    .candy.blue .slide-button {
        background-color: #38a3d4
    }

    .candy.yellow .slide-button {
        background-color: #f5e560
    }

    .android {
        background-color: #b6b6b6;
        color: #fff
    }

    .android.toggle {
        border: 2px solid #b6b6b6
    }

    .android.switch {
        overflow: hidden
    }

    .android.switch .slide-button {
        background-color: #279fca;
        -webkit-transform: skew(20deg) translateX(10px);
        transform: skew(20deg)
    }

    .android.toggle .slide-button {
        border-radius: 2px;
        background-color: #848484
    }

    .android.toggle input:first-of-type:checked ~ .slide-button {
        background-color: #279fca
    }

    .android.switch input:first-of-type:checked ~ .slide-button {
        -webkit-transform: skew(20deg) translateX(-10px);
        transform: skew(20deg) translateX(-10px)
    }

    .android p {
        color: #333
    }

    .android span {
        color: #fff
    }

    .android.switch, .android span {
        text-transform: uppercase
    }

    .ios {
        background: linear-gradient(top, #cfcfcf, #efefef 50%, #f9f9f9 0, #fefefe);
        box-shadow: inset 0 2px 2px #b6b6b6, inset 3px 0 3px #b6b6b6;
        border: 1px solid #efefef;
        border-radius: 3px;
        color: #7f7f7f;
        font: 700 14px sans-serif;
        text-align: center;
        text-shadow: none
    }

    .ios.toggle .slide-button {
        border: 1px solid #919191;
        background: linear-gradient(top, #cdcdcd, #fbfbfb);
        border-radius: 3px;
        box-shadow: inset 0 1px 0 #f0f0f0
    }

    .ios.switch input:checked + label, .ios.toggle input:first-of-type:checked ~ p span:first-child {
        color: #fff;
        text-shadow: 0 -1px 0 #1b3b6f
    }

    .ios.switch .slide-button, .ios.toggle input:first-of-type:checked ~ .slide-button {
        background: linear-gradient(top, #3672dc, #4085ec 50%, #4d8fef 0, #76adfc);
        border-radius: 3px;
        border: 1px solid #1654b5;
        text-align: center;
        color: #fff;
        font: 700 14px sans-serif;
        text-shadow: 0 -1px 0 #1b3b6f
    }

    .ios.toggle p span {
        color: #7f7f7f
    }
}

.fade {
    opacity: 0;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.modal, .modal-open {
    overflow: hidden
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes b {
    0%, to {
        -webkit-transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px)
    }
}

@keyframes b {
    0%, to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

.shake {
    -webkit-animation-name: b;
    animation-name: b
}

.modal {
    display: block
}

.modal-content > .close {
    position: absolute;
    top: 10px;
    right: 10px
}

@media (min-width: 768px) {
    .modal-sm > .modal-dialog {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg > .modal-dialog {
        width: 900px
    }
}

.weather-widget {
    min-width: 250px;
    font: 400 14px/1.4 Roboto, Arial, sans-serif
}

.weather-widget__city-name {
    font: 600 24px/1.4 Oswald, Arial, sans-serif
}

.weather-widget__temperature {
    font: 600 30px/1.4 Oswald, Arial, sans-serif
}

.weather-widget__link {
    color: #d26c22;
    cursor: pointer;
    border: none;
    background: none
}

.weather-widget__main:first-letter {
    text-transform: uppercase
}

.weather-widget__items {
    font: 400 14px/1.4 Roboto, Arial, sans-serif;
    border: 1px solid #ddd;
    width: 100%
}

.weather-widget__item td {
    text-align: left;
    padding: 5px;
    border: 1px solid #ddd
}

.weather-widget__item:nth-child(odd) {
    background-color: #f9f9f9
}

.weather-widget__img {
    font-size: 17px
}